[submodule "quartus-cli"]
	path = quartus-cli
	url = git@github.com:KerCrafter/quartus-cli-docker.git
[submodule "src/button-debouncer"]
	path = src/button-debouncer
	url = git@github.com:KerCrafter/button-debouncer.git
[submodule "src/WS2812B-driver"]
	path = src/WS2812B-driver
	url = git@github.com:KerCrafter/WS2812B-driver.git
[submodule "tests/cocotb-runner"]
	path = tests/cocotb-runner
	url = git@github.com:KerCrafter/cocotb-runner.git
[submodule "src/snaked_led_number_to_2d_matrix"]
	path = src/snaked_led_number_to_2d_matrix
	url = git@github.com:KerCrafter/snaked_led_number_to_2d_matrix.git
